.navbar{
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background-color: rgb(121, 118, 118);
    font-weight: bold;
    color: white;
}

.content{
    display: flex;
    height: 83%;
    background-color: rgb(156, 153, 153);
}

.sidebar{
    width: 10%;
}

.main-content{
    width: 90%;
    display: flex;
}

.rental-card{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.rent-picture{
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

.footer{
    height: 7%;
}

.app-logo{
    height: 50px;
    width: 80px;
}

.git-logo{
    height: 50px;
    width: 80px;
}