.navbar {
  height: 10%;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  background-color: #cccbcb;
  color: #14404d;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
}

.content {
  display: flex;
  height: 83%;
  background-color: white;
}

.sidebar {
  font-size: 1.3em;
  padding-top: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  overflow-y: scroll;
}

.rental-card {
  width: 400px;
  margin: 20px 20px 0 0;
  text-align: left;
  background-color: #a2b39c2a;
  border-radius: 0 0 5px 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3,
  h4,
  p {
    margin: 0;
  }
  position: relative;
}

#card-name-title {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

#card-name {
  width: 85%;
}

#card-rating {
  width: 13%;
  text-align: right;
}

.rent-picture {
  width: 400px;
  height: 350px;
  border-radius: 5px 5px 0 0;
}

.delete-button {
  position: absolute;
  right: -10px;
  top: -10px;
  background-image: url("../assets/x.png");
  background-size: 20px;

  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
}

.edit-button {
  position: absolute;
  right: 15px;
  top: -10px;
  background-image: url("../assets/edit.png");
  background-size: 20px;

  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
}

.details {
  width: 400px;
  margin: 20px 20px 0 0;
  text-align: left;
  background-color: #a2b39c2a;
  border-radius: 0 0 5px 5px;
}

.footer {
  height: 7%;
  width: 100vw;
  background-color: #cccbcb;
  padding-top: 5px;
}

.app-logo {
  height: 50px;
  width: 80px;
}

.git-logo {
  height: 50px;
  width: 80px;
}

.about-us {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-user {
  display: flex;
  width: 10vw;
  justify-content: space-between;
}
.notfound {
  margin-top: 100px;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#back-home {
  color: white;
  background-color: #14404d;
  padding: 10px 20px;
  border-radius: 5px;
}

.rental-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;

  img {
    width: 500px;
    border-radius: 10px;
    margin-right: 20px;
  }
}

#details-name {
  align-self: center;
}

.details-img {
  display: flex;
}

.details-apt-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;

  h4,
  h5,
  p {
    margin: 2px 0;
  }
}

.details-apart-highlight {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#details-apart-title {
  padding-right: 20px;
}

#details-rating {
  align-self: center;
}

#details-apt-desc {
  width: 100%;
  border-top: solid 1px #14404d;

  margin-top: 10px;
  padding: 10px 0;
}

#details-host {
  width: 100%;
  border-top: solid 1px #14404d;

  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

#details-host-abt {
  width: 100%;
  font-size: 0.8em;
}

.AddListing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-list-area {
  width: 35%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.add-property-button {
  color: white;
  background-color: #14404d;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
}

.form-fields {
  width: 100%;
}

/*Tablet Screen*/
@media screen and (max-device-width: 425px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .rental-card {
    width: 350px;
    margin: 20px 0 0 0;
  }

  .rent-picture {
    width: 350px;
  }

  #card-name-title {
    width: 350px;
  }

  #card-rating {
    width: 16%;
  }

  .details-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rental-details {
    align-items: center;
    width: 100%;
    img {
      margin: 0;
      width: 300px;
    }
  }

  .details-apt-content {
    width: 65vw;
  }

  .git-logo {
    height: 35px;
    width: 50px;
  }

  .add-list-area {
    width: 100%;
  }

  .AddListing {
    label {
      font-size: 0.8em;
    }
  }
}

/*Tablet Screen*/
@media screen and (max-device-width: 768px) and (min-width: 426px) {
  .sidebar {
    font-size: 1em;
  }

  .details-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rental-details {
    align-items: center;
    width: 100%;
    img {
      margin: 0;
    }
  }

  .details-apt-content {
    width: 65vw;
  }

  .git-logo {
    height: 35px;
    width: 50px;
  }

  .add-list-area {
    width: 70%;
  }
}
