.main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.search-area {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-bar {
  background-image: url("../assets/search.jpg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 1px;
  width: 90%;
  margin: 20px 0 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid #14404d;
  color: #14404d;
  font-size: 1em;
  text-indent: 20px;
}

.main-rental-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;

  overflow-y: scroll;
}

.rental-card {
  width: 400px;
  margin: 20px 20px 0 0;
  text-align: left;
  background-color: #a2b39c2a;
  border-radius: 0 0 5px 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3,
  h4,
  p {
    margin: 0;
  }
  position: relative;
}

.rental-card:hover {
  transform: scale(1.02);
}

#card-name-title {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-left: 2px;
}

#card-host {
  padding-left: 2px;
}

#card-name {
  width: 85%;
}

#card-rating {
  width: 13%;
  text-align: right;
  padding-right: 2px;
}

.price {
  padding: 0 2px;
}

.sold-out {
  color: red;
  padding: 0 2px;
}

.rent-picture {
  width: 400px;
  height: 350px;
  border-radius: 5px 5px 0 0;
}

.delete-button {
  position: absolute;
  right: -10px;
  top: -10px;
  background-image: url("../assets/x.png");
  background-size: 20px;

  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
}

.edit-button {
  position: absolute;
  right: 15px;
  top: -10px;
  background-image: url("../assets/edit.png");
  background-size: 20px;

  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  transform: scale(1.4);
}

.details {
  width: 400px;
  margin: 20px 20px 0 0;
  text-align: left;
  background-color: #a2b39c2a;
  border-radius: 0 0 5px 5px;
}

.abt-git-logo {
  margin: 0px 20px;
  height: 50px;
  width: 85px;
}

.in-logo {
  width: 50px;
}

.about-us {
  text-align: center;
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  p {
    width: 80%;
  }
}

.about-user {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.about-user-name {
  width: 100px;
  letter-spacing: 1px;
}

.notfound {
  margin-top: 50px;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#back-home {
  color: white;
  background-color: #14404d;
  padding: 10px 20px;
  border-radius: 5px;
}

.rental-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;

  img {
    width: 500px;
    border-radius: 10px;
    margin-right: 20px;
  }
}

#details-name {
  align-self: center;
}

.details-content {
  display: flex;
}

.details-apt-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;

  h4,
  h5,
  p {
    margin: 2px 0;
  }
}

.details-apart-info {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

#details-apt-desc {
  width: 100%;
  border-top: solid 1px #14404d;

  margin-top: 10px;
  padding: 10px 0;
}

#details-host {
  width: 100%;
  border-top: solid 1px #14404d;

  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

#details-host-abt {
  width: 100%;
  font-size: 0.8em;
}

.AddListing,
.UpdateListing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-list-area {
  width: 35%;
}

.row {
  height: 35px;
}
.col-label {
  float: left;
  width: 35%;
  text-align: right;
}

.col-field {
  float: left;
  width: 65%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.add-property-button {
  color: white;
  background-color: #14404d;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
}

.add-property-button:hover {
  transform: scale(1.2);
}

.form-fields {
  width: 100%;
}

.field {
  width: 90%;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .about-us {
    width: 100%;
  }

  .about-user {
    width: 100%;
  }

  .main-content {
    width: 100%;
    align-items: center;
  }

  .search-bar {
    background-size: 20px;
  }

  .rental-card {
    width: 350px;
    margin: 20px 0 0 0;
  }

  .rent-picture {
    width: 350px;
  }

  #card-name-title {
    width: 350px;
  }

  #card-rating {
    width: 16%;
  }

  .rental-details {
    align-items: center;
    width: 100%;
    img {
      margin: 0;
      width: 300px;
    }
  }

  .details-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details-apt-content {
    width: 80vw;
    align-items: center;
  }

  .add-list-area {
    width: 100%;
  }

  .AddListing,
  .UpdateListing {
    label {
      font-size: 0.8em;
    }
  }

  .row {
    height: 25px;
  }
  .col-label {
    width: 40%;
  }
  .col-field {
    width: 60%;
  }
}

/*Tablet Screen*/
@media screen and (max-device-width: 768px) and (min-width: 426px) {
  .rental-details {
    align-items: center;
    width: 100%;
    img {
      margin: 0;
    }
  }

  .details-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .details-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .details-apt-content {
    width: 65vw;
  }

  .add-list-area {
    width: 75%;
  }

  .row {
    height: 30px;
  }
  .col-label {
    width: 30%;
  }
  .col-field {
    width: 70%;
  }
}

/*Small Laptop Screen*/
@media screen and (max-device-width: 1024px) and (min-width: 769px) {
  .add-list-area {
    width: 50%;
  }
}
